<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Stadiums</title>
    <link rel="stylesheet" type="text/css" href="/style/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li tabindex="0" class="nav__button"><a>Stadiums</a></li>
            <li tabindex="0" class="nav__button"><a>Create stadium</a></li>
            <li tabindex="0" class="nav__button"><a>Edit stadium</a></li>
            <div tabindex="0" class="nav__button"><a id="total__bought_ticket">Total bought_ticket: 0</a></div>
            <button tabindex="0" class="nav__button" onclick="SortStadiums(showedlist)">Sort stadiums by capacity</button>
            <button tabindex="0" class="nav__button" onclick="restore()">Restore</button>
        </ul>
        <form id="find">
            <input type="text" name="query" id="find__title">
            <button type="button" onclick="SearchStadiums()">Find</button>
        </form>
    </nav>
    <div id="container">
        <form class="sidebar" id="stadiumform">
            <h5 id="create__title">Create stadium</h5>
            <div class="create__input">
                <label for="title__input" class="label__form">Name</label> 
                <input type="text" id="title__input" class="input__form" name="title" required>
            </div>
            <div class="create__input">
                <label for="location__input" class="label__form">Location</label>
                <input type="text" id="location__input" class="input__form" name="location" required>
            </div>
            <div class="create__input">
                <label for="capacity__input" class="label__form">Capacity</label>
                <input type="number" id="capacity__input" class="input__form" name="capacity" required>
            </div>
        </div>
        <div class="create__input">
            <label for="bought_ticket__input" class="label__form">bought_ticket</label>
            <input type="number" id="bought_ticket__input" class="input__form" name="ticket" required>
        </div>
            <button id="submit__button" type="submit" class="submit__button" onclick="saveStadium()">Submit</button>

            <div class="edit hide">
                <h5 id="edit__title">Edit stadium</h5>
                <div class="create__input">
                    <label for="title__input__edit" class="edit__form">New name</label>
                    <input type="text" id="title__input__edit" class="input__form" placeholder=${title}>
                </div>
                <div class="create__input">
                    <label for="location__input__edit" class="edit__form">New location</label>
                    <input type="text" id="location__input__edit" class="input__form">
                </div>
                <div class="create__input">
                    <label for="capacity__input__edit" class="edit__form">New capacity</label>
                    <input type="number" id="capacity__input__edit" class="input__form">
                </div>
                <div class="create__input">
                    <label for="capacity__input" class="label__form">New bought_ticket</label>
                    <input type="number" id="bought_ticket__input__edit" class="input__form" name="capacity" required>
                </div>
                <button id="submit__edit__button" type="submit" class="submit__button" onclick="saveEdit()">Submit</button>
                <button id="cancel__button" type="submit" class="submit__button" onclick="cancelEdit()">Cancel</button>
            </div>
        </form>
        <main>
            <div id="stadiumlist">
            </div>
        </main>
    </div>
    <script src="/js/creation.js"></script>
    <script src="/js/update.js"></script>
    <script src="/js/manipulations.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>