html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    color: #5D6970;
  }
  
  /* Add media queries for responsiveness */
  @media only screen and (max-width: 320px) {
    .inner {
      margin-left: 10px; /* Adjust as needed for smaller screens */
    }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 2560px) {
    .container {
      margin: 0 auto;
      max-width: 1440px;
    }
  
    .inner {
      margin-left: 160px;
      margin-top: 140px;
    }
  
    .footer ul {
      padding-left: 0;
    }
  }